<a href="https://colab.research.google.com/github/shweetak/Sweta/blob/main/Apache_Hive_Assignments_problem_1_to_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1. SELECT id,tenure,designation,salary,
    CASE
        WHEN tenure < 2 THEN 20
        WHEN tenure BETWEEN 2 AND 10 THEN 30
        WHEN tenure > 10 THEN 40
    END AS extra_vacation
   FROM tenure_sweta;

In [ ]:
2. SELECT Date,State,ARRAY_MAX(temperature) AS max_temperature FROM temperature;

In [ ]:
3. Display NAME who have scored more than 90 in subject Maths subject: SELECT Name FROM student_marks WHERE Marks['maths'] > 90;
   Display NAME and <Marks Scored in Physics subject> : SELECT Name, Marks['physics'] AS physics_marks FROM student_marks;
   Display NAME, and <Maximum-Subject-Marks> : SELECT Name, GREATEST(Marks['physics'], Marks['chemistry'], Marks['maths'], Marks['biology']) AS max_subject_marks FROM student_marks;
   Display NAME and <Average Marks Scored>: SELECT Name,(Marks['physics'] + Marks['chemistry'] + Marks['maths'] + Marks['biology']) / 4.0 AS average_marks
FROM student_marks;
   Display NAME and <Percentage of marks> : SELECT Name,(Marks['physics'] + Marks['chemistry'] + Marks['maths'] + Marks['biology']) / 4.0 * 100 AS percentage_marks FROM student_marks;

In [ ]:
4. Display all “NAME” who is located in Banashankari : SELECT Name FROM student_info WHERE Address.Location = 'Banashankari';z
   Calculate the total count who is staying in pin code 560001: SELECT COUNT(*) AS total_count FROM student_info WHERE Address.Pincode = 560001;