<a href="https://colab.research.google.com/github/shweetak/Sweta/blob/main/Crime_Data_Analysis_spark_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#install Apache Spark 3.0.1 with Hadoop 2.7 from here.
!wget https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop2.7.tgz

# Now, we just need to unzip that folder.
!tar -xvzf spark-3.0.0-bin-hadoop2.7.tgz
!pip install findspark


import os
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop2.7"
import findspark
findspark.init()

In [3]:
# 1. Load the covid 19 data in to a spark dataframe (country_wise_latest.csv) with the correct schema definition.

from pyspark.sql import SparkSession
from pyspark.sql.types import *
spark = SparkSession.builder.master("local").appName("Crime_Data_Analysis").getOrCreate()

df = spark.read.csv(path = "/crime_incidents_2013.csv",header=True)
df.show()

+--------+--------------------+--------+-----------+------+--------------------+--------------------+-----------------+-----------------+----+---+--------+---+-------------------+---------------------------+-----------+------------+---------------+--------------------+--------------------+
|     CCN|      REPORTDATETIME|   SHIFT|    OFFENSE|METHOD|    LASTMODIFIEDDATE|    BLOCKSITEADDRESS|      BLOCKXCOORD|      BLOCKYCOORD|WARD|ANC|DISTRICT|PSA|NEIGHBORHOODCLUSTER|BUSINESSIMPROVEMENTDISTRICT|BLOCK_GROUP|CENSUS_TRACT|VOTING_PRECINCT|          START_DATE|            END_DATE|
+--------+--------------------+--------+-----------+------+--------------------+--------------------+-----------------+-----------------+----+---+--------+---+-------------------+---------------------------+-----------+------------+---------------+--------------------+--------------------+
|04104147|4/16/2013 12:00:0...|MIDNIGHT|   HOMICIDE| KNIFE|5/15/2015 8:33:04 AM|1500 - 1599 BLOCK...|           398943|           133729|   6| 6D|   FIRST|105|                  9|                       null|   006400 2|      006400|   Precinct 127|7/27/2004 8:30:00 PM|7/27/2004 8:30:00 PM|
|05047867|6/5/2013 12:00:00 AM|MIDNIGHT|  SEX ABUSE| KNIFE|5/15/2015 8:32:11 AM|6500  - 6599 BLOC...|           397769|           144596|   4| 4B|  FOURTH|402|                 17|                       null|   001901 4|      001901|    Precinct 59|4/15/2005 12:30:0...|                null|
|07083463|7/8/2013 12:00:00 AM|MIDNIGHT|  SEX ABUSE|OTHERS|5/15/2015 8:32:48 AM|1800 - 1810 BLOCK...|           396275|           139402|   1| 1C|   THIRD|303|                  1|               ADAMS MORGAN|   004002 1|      004002|    Precinct 25|7/14/2007 3:00:00 PM|                null|
|09172197|4/8/2013 12:00:00 AM|MIDNIGHT|  SEX ABUSE|OTHERS|5/15/2015 8:32:54 AM|2322 - 2499 BLOCK...|           396518|           139335|   1| 1C|   THIRD|303|                  1|                       null|   003800 1|      003800|    Precinct 24|5/22/2009 1:00:00 PM|5/22/2009 3:00:00 AM|
|09251354|2/27/2013 12:00:0...|MIDNIGHT|  SEX ABUSE|OTHERS|5/15/2015 8:32:21 AM|2500 - 2699 BLOCK...|           395232|           136881|   2| 2A|  SECOND|207|                  5|                       null|   005600 2|      005600|     Precinct 3| 1/1/2009 2:05:00 PM| 1/1/2009 3:00:00 PM|
|10028985|2/27/2013 12:00:0...|MIDNIGHT|  SEX ABUSE|OTHERS|5/15/2015 8:33:01 AM|1800 - 2299 BLOCK...|        402158.31|        138824.53|   5| 5C|   FIFTH|505|                 22|                       null|   011100 3|      011100|    Precinct 72| 3/7/2010 2:30:00 AM| 3/7/2010 2:45:00 AM|
|10033521|10/10/2013 12:00:...|MIDNIGHT|  SEX ABUSE|OTHERS|5/15/2015 8:32:21 AM|2800 - 2821 BLOCK...|           402837|           133810|   7| 7B|   SIXTH|607|                 34|                       null|   007604 3|      007604|   Precinct 111|12/29/2008 8:00:0...|12/29/2008 8:00:0...|
|10124918|4/9/2013 12:00:00 AM|MIDNIGHT|  SEX ABUSE|OTHERS|5/15/2015 8:32:46 AM|1 - 99 BLOCK OF D...|           398794|           127300|   8| 8D| SEVENTH|708|               null|                       null|   010900 2|      010900|   Precinct 126|8/27/2010 5:00:00 PM|                null|
|11010107|7/31/2013 12:00:0...|MIDNIGHT|   HOMICIDE|OTHERS|5/15/2015 8:32:12 AM|3000 - 3099 BLOCK...|           400331|           140004|   5| 5E|   FIFTH|502|                 21|                       null|   009201 1|      009201|    Precinct 74|1/23/2011 7:50:00 AM|                null|
|11045512|1/31/2013 12:00:0...|MIDNIGHT|   HOMICIDE|   GUN|5/15/2015 8:33:01 AM|400 - 499 BLOCK O...|           404939|           135095|   7| 7F|   SIXTH|603|                 33|                       null|   007703 2|      007703|   Precinct 103|4/5/2011 10:30:00 PM|4/5/2011 10:32:00 PM|
|11250281|7/8/2013 12:00:00 AM|MIDNIGHT|  SEX ABUSE|OTHERS|5/15/2015 8:32:54 AM|116 - 221 BLOCK O...|           405274|           136049|   7| 7D|   SIXTH|602|                 33|                       null|   007803 4|      007803|    Precinct 99|5/12/2011 11:00:0...|5/12/2011 11:15:0...|
|12003591|1/9/2013 12:59:00 AM|MIDNIGHT|THEFT/OTHER|OTHERS|5/15/2015 8:32:48 AM|900 - 999 BLOCK O...|           400594|           139371|   5| 5C|   FIFTH|505|                 22|                       null|   009102 2|      009102|    Precinct 72|1/9/2013 12:59:00 AM|1/9/2013 12:59:00 AM|
|12037530|3/23/2013 10:00:0...|     DAY|THEFT/OTHER|OTHERS|5/15/2015 8:32:33 AM|5300 - 5399 BLOCK...|           392607|           143559|   3| 3E|  SECOND|202|                 11|                       null|   001001 1|      001001|    Precinct 31|3/20/2013 6:50:00 PM|3/20/2013 9:00:00 PM|
|12055744|8/19/2013 12:00:0...|MIDNIGHT|  SEX ABUSE|OTHERS|5/15/2015 8:32:58 AM|1400 - 1499 BLOCK...|           397088|           139298|   1| 1B|   THIRD|304|                  2|                       null|   003700 3|      003700|    Precinct 23|4/15/2012 1:00:00 AM|4/15/2012 3:00:00 AM|
|12058169|5/13/2013 12:00:0...|MIDNIGHT|  SEX ABUSE|OTHERS|5/15/2015 8:32:56 AM|1900 - 1999 BLOCK...|        397921.52|        138712.81|   1| 1B|   THIRD|305|                  3|                       null|   004400 2|      004400|   Precinct 137|4/29/2012 2:20:00 AM|4/29/2012 2:20:00 AM|
|12128314|9/10/2013 6:43:00 PM| EVENING|   BURGLARY|OTHERS|5/15/2015 8:33:01 AM|200 - 299 BLOCK O...|           398698|           138541|   1| 1B|   FIFTH|501|                 21|                       null|   003400 2|      003400|    Precinct 20|9/10/2013 6:43:00 PM|9/10/2013 6:43:00 PM|
|12139462|11/13/2013 12:00:...|MIDNIGHT|  SEX ABUSE|OTHERS|5/15/2015 8:32:12 AM|1000 - 1199 BLOCK...|           398273|           134400|   6| 6D|   FIRST|105|                  9|                       null|   010200 2|      010200|   Precinct 142|9/30/2012 3:30:00 PM|10/1/2012 4:00:00 AM|
|12174206|8/26/2013 12:00:0...|MIDNIGHT|  SEX ABUSE|OTHERS|5/15/2015 8:32:11 AM|2480 - 2599 BLOCK...|           396835|           139458|   1| 1C|   THIRD|303|                  1|                       null|   003800 1|      003800|    Precinct 24|10/14/2012 12:01:...|10/14/2012 2:00:0...|
|12182426|1/1/2013 12:15:00 AM|MIDNIGHT|    ROBBERY|   GUN|5/15/2015 8:32:51 AM|4700 - 4899 BLOCK...|405689.0700192320|135331.4354830180|   7| 7E|   SIXTH|604|                 33|                       null|   009906 1|      009906|   Precinct 104|1/1/2013 12:15:00 AM|1/1/2013 12:15:00 AM|
|12182429|1/1/2013 12:50:00 AM|MIDNIGHT|   BURGLARY|OTHERS|5/15/2015 8:32:12 AM|1200 - 1299 BLOCK...|           400930|           136784|   6| 6A|   FIRST|104|                 25|                       null|   008402 1|      008402|    Precinct 82|1/1/2013 12:30:00 AM|1/1/2013 12:45:00 AM|
+--------+--------------------+--------+-----------+------+--------------------+--------------------+-----------------+-----------------+----+---+--------+---+-------------------+---------------------------+-----------+------------+---------------+--------------------+--------------------+
only showing top 20 rows

In [4]:
# 1. How many offenses were there in 2013?

offenses_count_2013 = df.select("OFFENSE").distinct().count()
print(f"Number of offenses in 2013: {offenses_count_2013}")

Number of offenses in 2013: 9

In [6]:
# 2. How many crimes were committed in each offense

crimes_per_offense = df.groupBy("OFFENSE").count()
print("Crimes committed in each offense:")
crimes_per_offense.show(truncate=False)

Crimes committed in each offense:
+--------------------------+-----+
|OFFENSE                   |count|
+--------------------------+-----+
|ASSAULT W/DANGEROUS WEAPON|2311 |
|THEFT F/AUTO              |10134|
|ARSON                     |35   |
|MOTOR VEHICLE THEFT       |2677 |
|ROBBERY                   |4072 |
|HOMICIDE                  |104  |
|SEX ABUSE                 |299  |
|THEFT/OTHER               |12894|
|BURGLARY                  |3369 |
+--------------------------+-----+

In [7]:
# 3. How many different methods were used (And their count) in offense “Homicide"

homicide_methods_count = (df.filter(df["OFFENSE"] == "HOMICIDE").groupBy("METHOD").count())
print("3. Different methods used in offense 'Homicide' and their count:")
homicide_methods_count.show(truncate=False)

3. Different methods used in offense 'Homicide' and their count:
+------+-----+
|METHOD|count|
+------+-----+
|OTHERS|12   |
|KNIFE |11   |
|GUN   |81   |
+------+-----+

In [9]:
# 4. Which shift had the maximum crimes?

shift_max_crimes = (df.groupBy("SHIFT").count().orderBy("count", ascending=False).first())
max_crimes_shift = shift_max_crimes["SHIFT"]
print(f"Shift with the maximum crimes: {max_crimes_shift}")

Shift with the maximum crimes: EVENING