<a href="https://colab.research.google.com/github/shweetak/Sweta/blob/main/Driver_hive_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Create database driver_sweta;

# Driver table

CREATE EXTERNAL TABLE driver_sweta.drivers(
driverId INT,
name STRING,
ssn BIGINT,
location STRING,
certified STRING,
wage_plan STRING)
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
STORED As TextFile
LOCATION '/user/mavricbdhnov0115/workspace'
tblproperties(
"skip.header.line.count"="1"
);

# Timesheet Table

CREATE EXTERNAL TABLE driver_sweta.timesheet(
driverId INT,
week INT,
hours_logged INT,
miles_logged INT)
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
STORED As TextFile
LOCATION '/user/mavricbdhnov0115/workspace'
tblproperties(
"skip.header.line.count"="1"
);

In [ ]:
# Query 1: How many total hours and miles logged by each driver?

SELECT t.driverid, d.name, SUM(t.hours_logged) AS total_hours_logged, SUM(t.miles_logged) AS total_miles_logged FROM driver_sweta.timesheet t JOIN driver_sweta.drivers d ON t.driverid = d.driverid GROUP BY t.driverid,d.name;

In [ ]:
# Query 2: Print the name of the driver in the above query

SELECT t.driverid, d.name, SUM(t.hours_logged) AS total_hours_logged, SUM(t.miles_logged) AS total_miles_logged FROM driver_sweta.timesheet t JOIN driver_sweta.drivers d ON t.driverid = d.driverid GROUP BY t.driverid,d.name;

In [ ]:
# Query 3: Write the above query output in to hdfs directory

INSERT OVERWRITE DIRECTORY  /user/mavricbdhnov0115/warehouse SELECT t.driverid, d.name, SUM(t.hours_logged) AS total_hours_logged, SUM(t.miles_logged) AS total_miles_logged FROM driver_sweta.timesheet t JOIN driver_sweta.drivers d ON t.driverid = d.driverid GROUP BY t.driverid,d.name;