<a href="https://colab.research.google.com/github/shweetak/Sweta/blob/main/facebook_hive_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1. Find out the total no of users in the dataset

SELECT COUNT(*) AS total_users FROM facebook;

In [ ]:
# Q2: Find out the no of users above the age of 25

SELECT COUNT(*) AS users_above_25 FROM facebook WHERE age > 25;

In [ ]:
# Q3: Do male face book users tend to have more friends or female users

SELECT gender, AVG(friend_count) AS avg_friend_count FROM facebook GROUP BY gender;

In [ ]:
# Q4: How many likes do young people receive on facebook as opposed to old people

SELECT CASE WHEN age <= 25 THEN 'Young' ELSE 'Old' END AS age_group, SUM(likes_received) AS total_likes_received FROM facebook GROUP BY CASE WHEN age <= 25 THEN 'Young' ELSE 'Old' END;

In [ ]:
# Q5: Find out the count of facebook users for each birthday month

SELECT dob_month, COUNT(*) AS user_count FROM facebook GROUP BY dob_month;

In [ ]:
# Q6: Do young members use mobile phones or computers for facebook browsing

SELECT CASE WHEN age <= 25 THEN 'Young' ELSE 'Old' END AS age_group, SUM(mobile_likes) AS mobile_likes, SUM(www_likes) AS computer_likes FROM facebook GROUP BY CASE WHEN age <= 25 THEN 'Young' ELSE 'Old' END;

In [ ]:
# Q7: Do adult members use mobile phones or computers for facebook browsing

SELECT CASE WHEN age > 25 THEN 'Adult' ELSE 'Young' END AS age_group,SUM(mobile_likes) AS mobile_likes,SUM(www_likes) AS computer_likes FROM facebook GROUP BY CASE WHEN age > 25 THEN 'Adult' ELSE 'Young' END;